<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/util
			http://www.springframework.org/schema/util/spring-util.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.github.shanks"></context:component-scan>
	<context:property-placeholder location="classpath:*.properties" />
	<util:properties id="kafkaConnection" location="classpath:kafka.properties" />

	<bean id="kafkaListenerContainer" class="com.github.shanks.kafka.consumer.listener.KafkaListenerContainer">
		<property name="kafkaConsumer" ref="kafkaConsumer"></property>
		<property name="taskExecutor" ref="taskExecutor"></property>
		<property name="messageConverte" ref="messageConverte"></property>
		<property name="listeners">
			<list>
				<bean class="com.github.shanks.kafka.consumer.ArticleListener"></bean>
				<bean class="com.github.shanks.kafka.consumer.HelloListener"></bean>
			</list>
		</property>
	</bean>
	
	<bean id="messageConverte" class="org.springframework.messaging.converter.MappingJackson2MessageConverter"></bean>

	<bean id="kafkaConsumer" class="com.github.shanks.kafka.consumer.listener.KafkaConsumer">
		<constructor-arg name="properties" index="0" ref="kafkaConnection"></constructor-arg>
		<constructor-arg name="topics" index="1" >
			<list>
				<value>${topic.hello}</value>
				<value>${article.topic}</value>
			</list>
		</constructor-arg>
	</bean>

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="2" />
		<property name="maxPoolSize" value="5" />
		<property name="queueCapacity" value="25" />
	</bean>

</beans>